xrandr --output HDMI-0 --mode 1920x1080 --rate 120 --set TearFree on
xwallpaper --zoom $HOME/.wallpapers/wallhaven-nz1l6y.jpg
setxkbmap -option ctrl:swapcaps
xset r rate 300 50 &
slstatus &
dunst &
udiskie &
xbanish &
xcompmgr &
sxhkd &
/usr/lib/polkit-kde-authentication-agent-1 &
